/* 在庫センター情報登録画面のレイアウト調整用 */
.button-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
}
.bordered-label {
    border: 1px solid #ccc; 
    padding: 5px 8px;       
    border-radius: 4px;     
    display: inline-block;  
    text-align: left;
    width: 100%; 
}
.bordered-input {
    border: 1px solid #ccc; 
    border-radius: 4px;     
}
.form-grid-container {
    display: grid;
    grid-template-columns: minmax(100px, 12%) 1fr;
    row-gap: 0px;
    column-gap: 0px;
    align-items: center;
}

.form-grid-container label.bordered-label {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding:  6px 8px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: normal;
    margin: 0;
    box-sizing: border-box;
    text-align: left;
    width: 100%; 
}

.form-grid-container input.form-control.bordered-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0;
    height: 38px;
    padding: 0 8px;
    line-height: normal;
    box-sizing: border-box;
}
.bordered-group {
    border: 1px solid #ccc;
    padding: 6px 8px;
    margin-bottom: 0px;
    border-radius: 5px;
}
.is-invalid {
    border-color: #dc3545; 
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25); 
    background-color: #f8d7da;
}